/*!
 Theme Name: MO Pickleball Twenty Twenty child
 * Description: A child theme of Twenty Twenty, for Missouri Pickleball club
 * Theme
Author: Afflecto Media Marketing
 * Author URI: http://afflectomm.com
 * Version: 1.0.0
 * Template: twentytwenty
 */
/**
 * Variables and mixins
 */
/**
 * Type scale is using perfect fourth
 * http://www.modularscale.com/?1&em&1.2&web&text
 */
/**
 * Line height
 */
/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Breakpoints
 */
/* Mixins */
/**
 * Set font size
 * Usage: @include font-size(1.2);
 */
/**
 * Clearfix
 */
/**
 * Component styles
 */
/* Styles for elements in a broad sense, not in a specific location on the page */
@font-face {
  font-family: 'College';
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/mo-pickle-child/_assets/fonts/Collegeb.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/mo-pickle-child/_assets/fonts/Poppins-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("/wp-content/themes/mo-pickle-child/_assets/fonts/Poppins-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins Black';
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/mo-pickle-child/_assets/fonts/Poppins-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins Light';
  font-style: normal;
  font-weight: 200;
  src: url("/wp-content/themes/mo-pickle-child/_assets/fonts/Poppins-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Display';
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/mo-pickle-child/_assets/fonts/Collegeb.ttf") format("truetype"); }

.has-mopickle-blue-color {
  color: #143079; }

.has-mopickle-lightblue-color {
  color: #0080ec; }

.has-mopickle-darkblue-color {
  color: #112a49; }

.has-mopickle-green-color {
  color: #007a4b; }

.has-mopickle-lime-color {
  color: #d0f102; }

.has-mopickle-orange-color {
  color: #ff730a; }

.has-mopickle-blue-background-color {
  background-color: #143079; }

.has-mopickle-lightblue-background-color {
  background-color: #0080ec; }

.has-mopickle-darkblue-background-color {
  background-color: #112a49; }

.has-mopickle-green-background-color {
  background-color: #007a4b; }

.has-mopickle-lime-background-color {
  background-color: #d0f102; }

.has-mopickle-orange-background-color {
  background-color: #ff730a; }

html {
  font-size: 112.5% !important;
  /* 1rem = 18px when base = 16px */ }

body {
  background-color: #ffffff;
  font-family: "Poppins Light", "Helvetica Neue", "Open Sans", Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.35; }

body:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a, .footer-menu a, .footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.wp-block-pullquote::before, .singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
  color: #007a4b; }

.entry-content > * {
  margin-bottom: 1.25rem; }

.entry-content hr {
  height: 0.2222rem;
  width: 10rem !important;
  margin: 2rem auto !important;
  background: linear-gradient(currentColor 0%, currentColor 100%); }
  .entry-content hr:before {
    content: none; }
  .entry-content hr:after {
    content: none; }

h1, h2, h3, .banner-notice, .primary-menu .menu-item, h6,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content .banner-notice,
.entry-content .primary-menu .menu-item,
.primary-menu .entry-content .menu-item,
.entry-content h6 {
  text-transform: uppercase;
  font-family: "Poppins Black", "Helvetica Black", "Open Sans", Arial Black, sans-serif;
  font-weight: normal;
  letter-spacing: 5px;
  text-align: center; }

h1 {
  font-size: 50.512px;
  font-size: 3.157rem; }

h2 {
  font-size: 37.904px;
  font-size: 2.369rem;
  margin: 4rem 0 2rem; }

h3, .banner-notice, .primary-menu .menu-item {
  font-size: 28.432px;
  font-size: 1.777rem; }

h4 {
  font-size: 21.28px;
  font-size: 1.33rem; }

h5 {
  font-size: 16px;
  font-size: 1rem; }

h6 {
  font-size: 16px;
  font-size: 1rem; }

p, li, dd, dt {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.35; }

.display {
  font-family: Display, "American Typewriter", "Times New Roman", Courier, serif;
  font-weight: normal;
  margin: 0 0 0.75rem; }

/* Styles for elements between the header & the footer */
.entry-content {
  font-family: "Poppins Light", "Helvetica Neue", "Open Sans", Arial, sans-serif; }
  .entry-content p, .entry-content li, .entry-content dt, .entry-content dd {
    line-height: 1.35; }
  .entry-content strong, .entry-content b {
    font-family: "Poppins", "Helvetica Neue", "Open Sans", Arial, sans-serif;
    font-weight: bold; }

.banner-notice {
  margin: 0;
  width: 100% !important;
  max-width: 100% !important;
  background-color: #ff730a;
  color: #ffffff;
  text-align: center;
  padding: 0.8rem 2rem; }

.wp-block-group.alignfull.banner {
  width: 100%; }
  .wp-block-group.alignfull.banner .wp-block-group__inner-container {
    width: calc(100% - 4rem);
    max-width: 58rem; }

/* background color, and  tweaks */
.blue-dark {
  background: #112a49 url("../img/blue-dark-pattern-repeat.jpg") repeat top left; }

.lime {
  background: #d0f102 url("../img/lime-lines-repeat.jpg") repeat top left; }

.callout.blue {
  background-color: #143079; }

.callout.green {
  background-color: #007a4b; }

.blue-dark p,
.blue p,
.green p,
.lime p {
  font-family: "Poppins", "Helvetica Neue", "Open Sans", Arial, sans-serif; }

.singular .entry-header {
  padding: 5rem 2.5rem;
  background: #007a4b url("../img/header_bg.jpg");
  background-size: cover;
  color: #fff; }

.singular.home .entry-header .section-inner {
  background: transparent url("../img/MPC_header.png") center no-repeat;
  background-size: contain;
  width: auto;
  max-width: 800px; }

.singular.home .entry-title {
  position: relative;
  font-size: 160px;
  font-size: 10rem;
  left: -1000rem; }

.singular .post-inner {
  padding-top: 0; }

/* Styles for elements in the header */
.header-footer-group .section-inner {
  width: 100%; }

.header-footer-group .header-inner {
  padding: 0; }
  @media screen and (min-width: 1000px) {
    .header-footer-group .header-inner {
      align-items: stretch; } }
  @media screen and (min-width: 1000px) {
    .header-footer-group .header-inner .header-navigation-wrapper {
      align-items: stretch; } }

@media screen and (min-width: 1000px) {
  .site-logo {
    padding: 1.5rem 0 1.5rem 1.5rem; } }

.site-logo img {
  max-height: 1.5rem; }

/* Styles for elements in navigation */
/* Main Nav */
.primary-menu .menu-item {
  font-size: 12px;
  font-size: 0.75rem; }
  .primary-menu .menu-item.cta {
    background-color: #d0f102; }

@media screen and (min-width: 1000px) {
  .primary-menu-wrapper {
    display: flex; } }

.primary-menu-wrapper + .header-toggles {
  display: none; }

/* Styles for elements in the footer */
#site-footer {
  background-color: #112a49;
  color: #ffffff; }
