/* Styles for elements between the header & the footer */

.entry-content {
	font-family: $body-font;

	p, li, dt, dd {
		line-height: 1.35;
	}

	strong, b {
		font-family: $body-regular;
		font-weight: bold;
	}
}

.banner-notice {
	@extend h3;
	margin: 0;
	width: 100% !important;
	max-width: 100% !important;
	background-color: $orange;
	color: #ffffff;
	text-align: center;
	padding: 0.8rem 2rem;
}
.wp-block-group.alignfull.banner {
	width: 100%;

	.wp-block-group__inner-container {
		width: calc(100% - 4rem);
		max-width: 58rem;
	}
}
/* background color, and  tweaks */
.blue-dark {
	background: $blue-dark url('../img/blue-dark-pattern-repeat.jpg') repeat top left;
}
.lime {
	background: $lime url('../img/lime-lines-repeat.jpg') repeat top left;
}
.callout {
	&.blue {
		background-color: $blue;
	}

	&.green {
		background-color: $green;
	}
}
.blue-dark p,
.blue p,
.green p,
.lime p {
	font-family: $body-regular;
}



.singular {
	.entry-header {
		padding: 5rem 2.5rem;
		background: $green url('../img/header_bg.jpg');
		background-size: cover;
		color: #fff;
	}

	&.home {
		.entry-header .section-inner {
			background: transparent url('../img/MPC_header.png') center no-repeat;
			background-size: contain;
			width: auto;
			max-width: 800px;
		}

		.entry-title {
			position: relative;
			@include font-size(10);
			left: -1000rem;
		}
	}

	.post-inner {
		padding-top: 0;
	}
}
