/* Styles for elements between the header & the footer */

.entry-content {
	font-family: $body-font;

	p, li, dt, dd {
		line-height: 1.35;
	}

	strong, b {
		font-family: $body-regular;
		font-weight: bold;
	}
}

.banner-notice {
	@extend h3;
	margin: 0;
	width: 100% !important;
	max-width: 100% !important;
	background-color: $orange;
	color: #ffffff;
	text-align: center;
}
