/* Styles for elements in a broad sense, not in a specific location on the page */

@font-face {
	font-family: 'College';
	font-style: normal;
	font-weight: 400;
	src: url('/wp-content/themes/mo-pickle-child/_assets/fonts/Collegeb.ttf') format('truetype');;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('/wp-content/themes/mo-pickle-child/_assets/fonts/Poppins-Regular.ttf') format('truetype');;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url('/wp-content/themes/mo-pickle-child/_assets/fonts/Poppins-Bold.ttf') format('truetype');;
}
@font-face {
	font-family: 'Poppins Black';
	font-style: normal;
	font-weight: 400;
	src: url('/wp-content/themes/mo-pickle-child/_assets/fonts/Poppins-Black.ttf') format('truetype');;
}
@font-face {
	font-family: 'Poppins Light';
	font-style: normal;
	font-weight: 200;
	src: url('/wp-content/themes/mo-pickle-child/_assets/fonts/Poppins-ExtraLight.ttf') format('truetype');;
}

.has-mopickle-blue-color{color: $blue;}
.has-mopickle-lightblue-color{color: $blue-light;}
.has-mopickle-darkblue-color{color: $blue-dark;}
.has-mopickle-green-color{color: $green;}
.has-mopickle-lime-color{color: $lime;}
.has-mopickle-orange-color{color: $orange;}

.has-mopickle-blue-background-color{background-color: $blue;}
.has-mopickle-lightblue-background-color{background-color: $blue-light;}
.has-mopickle-darkblue-background-color{background-color: $blue-dark;}
.has-mopickle-green-background-color{background-color: $green;}
.has-mopickle-lime-background-color{background-color: $lime;}
.has-mopickle-orange-background-color{background-color: $orange;}


html {
	font-size: 112.5% !important; /* 1rem = 18px when base = 16px */
}
body {
	background-color: #ffffff;
	font-family: $body-font;
	font-size: 1.25rem;
	line-height: 1.35;
}

body:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a, .footer-menu a, .footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.wp-block-pullquote::before, .singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
	color: $green;
}

.entry-content  {

	> * {
		margin-bottom: 1.25rem;
	}

	hr {
		height: 0.2222rem; // 4px
		width: 10rem !important;
		margin: 2rem auto !important;
		background: linear-gradient( currentColor 0%, currentColor 100%);

		&:before {
			content: none;
		}
		&:after {
			content: none;
		}
	}
}

h1, h2, h3,
.entry-content h1,
.entry-content h2,
.entry-content h3 {
	text-transform: uppercase;
	font-family: $heading;
	font-weight: normal;
	letter-spacing: 3px;
	text-align: center;
}
h1 { @include font-size($size-4); }
h2 {
	@include font-size($size-3);
	margin: 4rem 0 2rem;
}
h3 { @include font-size($size-2); }
h4 { @include font-size($size-1); }
h5 { @include font-size($size-0); }
h6 { @include font-size($size-0); }

p, li, dd, dt {
	@include font-size($size-0);
	line-height: 1.35;
}
