/* Styles for elements in the header */
.header-footer-group {
	.section-inner {
		width: 100%;
	}

	.header-inner {
		padding: 0;

		@media screen and (min-width:1000px) {
			// vertically fill entire flex area
			align-items: stretch;
		}

		.header-navigation-wrapper {
			@media screen and (min-width:1000px) {
				// vertically fill entire flex area
				align-items: stretch;
			}
		}
	}
}

.header-titles {
}

.site-logo {

	@media screen and (min-width:1000px) {
		padding: 1.5rem 0 1.5rem 1.5rem;
	}

	img {
		max-height: 1.5rem;
	}
}
